/* Stylesheet for DUL Exhibits Content Pages */



/* +++ Home Page =================== */

.index .panel {
    margin-bottom: 1.5rem;
    box-shadow: 0px 0 6px 1px #ddd;
    border: 8px solid #fff;
}

.index .feature p.callout {
    display: block;
    text-transform: uppercase;
    width: 100%;
    border-bottom: 1px dotted rgba(255,255,255,0.25);
}

.index .feature .description h3,
.index .feature .description h4,
.index .feature .description p {
    color: #fff;
    margin:0;
    letter-spacing: .05em;
    text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.5);
    display: block;
}

.index .feature .description h3 {
    font-size: 1.95em;
}

.index .feature .description h3,
.index .feature .description h4 {
    padding-top: .25em;
}

.index .gamble {
    background: url('/images/home/gamble.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 19em;
    padding: 0;
    position: relative;
}

.index .gamble .description {
    background: #F09905;
    background: rgba(250,143,5,0.85);
    padding: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
}


.index .galleries {
    background: url('/images/home/rl_bg2.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
    min-height: 19em;
    padding: 0;
    position: relative;
}

.index .galleries .description {
    background: #F09905;
    background: rgba(114,131,2,0.85);
    padding: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    width: 100%
}




.index .baskin {
    background: url('/images/home/desk.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    min-height: 19em;
    padding: 0;
    position: relative;
}

.index .baskin .description {
    background: #F09905;
    background: rgba(6,128,205,0.85);
    padding: 20px;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 100%
}



.index .psalm {
    background: url('/images/home/psalm.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    padding: 0;
    position: relative;
    min-height: 17em;
}

.index .psalm .description {
    background: #F09905;
    background: rgba(0,51,102,0.85);
    padding: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    width: 100%
}



.index .event {
    background: #988675;
    padding: 0;
    overflow: hidden;
    display: block;
}

.index .event .thumb {
    display: block;
}

.index .event .description {
    display: block;
    padding: 15px;
}

.index .event .thumb img {
    width: 100%;
}


.index .event p,
.index .event h4 {
    color: #fff;
    margin:0;
    padding:0 0 .25em 0;
    letter-spacing: .05em;
    text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.5);
    display: block;
}

.index .event p.date {
    color: #494038;
    font-style: italic;
    margin: 0 0 .25em 0;
    padding: 0 0 .25em 0;
    border-bottom: 1px dotted #807061;
    letter-spacing:0;
    text-shadow: none;
}

.index .event p,
.index .event h4 {
    margin:0;
    padding:0 0 .25em 0;
    display: block;
}





.index .student {
    position: relative;
    background: #fff;
    padding:0;
}

.index .student .description {
    position: absolute;
    bottom:0;
    padding: 10px 5px 5px 5px;
    width: 100%;
    float: left;
    background: #fff;
}

.index .student .description p,
.index .student .description h4 {
    text-shadow: none;
}


.index .student .description h4 {
    line-height: 1.1;
    font-size: 1.25em;
    color: #555;
    margin-bottom: .25em;
}

.index .student .description p {
    color: #555;
    line-height: 1.1;
    font-size: .9em;
}

.index .student .description p.callout {
    border-bottom: 1px dotted #ccc;
    margin-bottom: .5em;
    padding-bottom: .25em;
    text-shadow: none;
    color: #888;
}





/* +++ Content Pages =================== */


/* need set min/max font sizes w/ media queries! */

.content h1 {
    font-size: 7.5vw;
    color: #a1b70d;
    font-weight: bold;
    line-height: 1.1;
    padding:0;
    margin: 0 0 .5em 0;
}

.content h2 {
    font-size: 3vw;
    color: #988675;
    font-weight: bold;
    line-height: 1.2;
    margin-top: 1.5em;
    margin-bottom: .5em;
}

.content h4 {
    margin-top: 1.5em;
}

.content p {
    font-size: 1.5vw;
    color: #444;
    line-height: 1.4;
}

.content ul {
    margin-left: 3em;
    margin-bottom: 2em;
}

.content ul li {
    font-size: 1.4vw;
    color: #444;
    line-height: 1.3;
    margin-bottom: .5em;
}

.content .image-full {
    width: 100%;
    display: block;
}

.content .image-full img {
    width: 100%;
}




.current .exhibit {

    display: block;
    margin-bottom: 1em;
    overflow: hidden;

}


.current .exhibit p.callout {
    display: block;
    text-transform: uppercase;
    font-size: 2vw;
    border-top: 1px dotted #988675;
    border-bottom: 1px dotted #988675;
    background: #DAD0C6;
    margin: 1em 0 1em 0;
    padding: .5em;
    color: #988675;
}

.current .exhibit .thumb {
    float: left;
    margin-right: 2em;
    margin-bottom: 4em;
    width: 33%;
    border: 6px solid #eee;
}

.current .exhibit .thumb img {
    width: 100%;
    display: block;
}





.past {

}

.past .exhibit {

    background: #fff;
    padding:0;
    box-shadow: 0px 0 6px 1px #ddd;
    border: 8px solid #fff;

}

.past .exhibit .image {
    width: 100%;
}

.past .exhibit .image img {
    width: 100%;
}

.past .exhibit .description {
    padding: 15px;
}

.past .exhibit .description h3 {

    font-size: 1.4em;

}

.past .exhibit .description h4 {

    font-size: 1.2em;

}

.past .exhibit .description p {
    font-size: .9em;
    padding:0;
    margin:0 0 .5em 0;
    line-height: 1.2;
}

.past .exhibit .description p.dates {
    text-transform: uppercase;
    color: #999;
}

.past .exhibit .description p.sponsor {
    font-style: italic;
}




.about {

}

.about .gallery {
    background: #fff;
    border: none;
    overflow: hidden;
    margin-bottom: 2em;
    padding:0;
}

.about .gallery .image {
    width: 40%;
    border: 3px solid #eee;
    float: left;
    margin-right: 1em;
}

.about .gallery .image img {
    width: 100%;
}



/* Gallery Pages */

.current-exhibit {
    width: 100%;
    border: 3px solid #eee;
    padding: 0;
    background: #444;
}

.current-exhibit .image {
    float: left;
    overflow: hidden;
    max-height: 20em;
    width: 40%;
}

.current-exhibit .image img {
    position: relative;
    width: 100%;
    margin-top: -15%;
}

.current-exhibit .description {
    padding: 30px;
    float: left;
    width: calc(60% - 60px);
}

.current-exhibit .description p.callout {
    color: #988675;
    font-size: 2.2vw;
    text-transform: uppercase;
    padding:0;
    margin:0;
}

.current-exhibit .description p.dates {
    color: #988675;
    padding:0;
    margin:0 0 0 1em;
    display: inline;
    font-size: 1.5vw;
}

.current-exhibit .description h2 {
    color: #ceb69f;
    font-weight: normal;
    font-size: 4vw;
    line-height: 1.3;
    margin:0 0 .25em 0;
    padding: 0;
    display: inline;
}


.past-exhibit {
    background: #fff;
    padding:0;
    border: 3px solid #eee;
}

.past-exhibit .image {
    width: 100%;
    border-bottom: 1px dotted #ccc;
    height: 7em;
    overflow: hidden;
}

.past-exhibit .image img {
    width: 100%;
    margin-top: -23%;
}

.past-exhibit .description {
    padding: 20px;
    background: #f3f3f3;
}

.past-exhibit .description h3 {
    font-size: 1.4em;
    margin:0 0 .5em 0;
    padding:0;
}

.past-exhibit .description h4 {
    font-size: 1em;
    margin:0;
    padding:0;
}
