html, body {
  margin:0;
  padding:0;
  color: #222;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-size: 12px;
}

body {
  background: #eee;
}

.branding-bar {
  width: 100%;
  background: #003366;
}

.branding-bar p {
  color: #fff;
  padding:15px;
  margin:0;
}

.wrapper {

  background: #666;
  color: #fff;
  margin: 30px auto 30px auto;
  width: 960px;
  padding: 30px;

}

.masthead {
  padding: 30px;
  display: block;
  background: #444;
}

.masthead p {
  font-size: 300%;
  margin:0;
  padding:0;
}

.nav {
  display: block;
  background: #555;
  margin-bottom: 2em;
  overflow:hidden;
}

.nav ul,
.nav li {
  list-style: none;
  margin:0;
  padding:0;
}

.nav li {
  float: left;
  margin: .25em;
  padding: 5px;
  font-size: 1.2em;
}

.nav li a {
  color: #aaa;
}

.content {
  display: block;
  padding: 15px;
  overflow: hidden;
}

.content p {
  font-size: 1.6em;
  margin: 0 0 2em 0;
  padding:0;
}

.home-image {

  width: 350px;
  float: right;
  margin: 0 0 30px 30px;
  border: 2px solid #fff;

}

.home-image img {

  width: 100%;

}


.thumbnails {

}

.thumbnails a {
  width: 23%;
  margin: 5%;
  float: left;
  background: #eee;
}

.thumbnails img {
  width: 100%;
}

.essay {
  display: block;
  clear: left;
  float: left;
  border-bottom: 1px dotted #999;
  margin: 0 0 2em 0;
}

.essay h2{
  margin-top:0;
}

.essay p {
  font-size: 1.3em;
}

.essay a {
  float: left;
  width:23%;
  margin: 0 30px 30px 0;
  background: #eee;
}

.essay a img {
  width: 100%;
}


.footer {
  width: 100%;
  background: #ccc;
  min-height: 200px;
}

.footer p {
  margin:0;
  padding: 30px;
  color: #999;

}
