
<div id="footer-wrap">

    <div class="row">

        <div class="medium-12 footer">

            <div class="medium-1 columns region-footer-devillogo" id="region-footer-devillogo">
                <a onclick="ga('send', 'event', { eventCategory: 'Footer', eventAction: 'Branding', eventLabel: 'Library Logo'});" href="http://library.duke.edu"><img alt="Duke University Libraries" src="//library.duke.edu/sites/all/themes/madlib/images/devillogo-60pct-60.png"></a>
                <div class="region-inner region-footer-devillogo-inner">
                </div>
            </div>

            <div class="medium-2 columns region-footer-contact" id="region-footer-contact">
                <h3><a onclick="ga('send', 'event', { eventCategory: 'Footer', eventAction: 'Contact Info', eventLabel: 'Contact Us'});" href="/about/contact">Contact Us</a></h3>

                <div class="perkinsAddress">
                    411 Chapel Drive<br>Durham, NC 27708<br><div style="margin-top:5px">(919) 660-5870<br><span class="font-size:7px;">Perkins Library Service Desk</span></div>
                </div>

                <div class="region-inner region-footer-contact-inner">
                </div>

            </div>

            <div class="medium-4 columns region region-footer-services" id="region-footer-services">

                <h3><a onclick="ga('send', 'event', { eventCategory: 'Footer', eventAction: 'Services', eventLabel: 'Services Portal'});" href="/services">Services for...</a></h3>

                <div class="row">

                    <div class="small-6 columns">
                        <ul>
                            <li><a onclick="ga('send', 'event', { eventCategory: 'Footer', eventAction: 'Services', eventLabel: 'Faculty Instructors'});" href="/services/faculty">Faculty &amp; Instructors</a></li>
                            <li><a onclick="ga('send', 'event', { eventCategory: 'Footer', eventAction: 'Services', eventLabel: 'Graduate Students'});" href="/services/graduate">Graduate Students</a></li>
                            <li><a onclick="ga('send', 'event', { eventCategory: 'Footer', eventAction: 'Services', eventLabel: 'Undergraduate Students'});" href="/services/undergraduate">Undergraduate Students</a></li>
                            <li><a onclick="ga('send', 'event', { eventCategory: 'Footer', eventAction: 'Services', eventLabel: 'International Students'});" href="/services/international">International Students</a></li>
                        </ul>

                    </div>

                    <div class="small-6 columns">

                        <ul class="small-6 omega">
                            <li><a onclick="ga('send', 'event', { eventCategory: 'Footer', eventAction: 'Services', eventLabel: 'Alumni'});" href="/services/alumni">Alumni</a></li>
                            <li><a onclick="ga('send', 'event', { eventCategory: 'Footer', eventAction: 'Services', eventLabel: 'Donors'});" href="/services/donors">Donors</a></li>
                            <li><a onclick="ga('send', 'event', { eventCategory: 'Footer', eventAction: 'Services', eventLabel: 'Visitors'});" href="/services/visitors">Visitors</a></li>
                            <li><a onclick="ga('send', 'event', { eventCategory: 'Footer', eventAction: 'Services', eventLabel: 'Patrons with Disabilities'});" href="/services/disabilities">Patrons with Disabilities</a></li>
                        </ul>

                    </div>

                </div>

                <div class="region-inner region-footer-services-inner">
                </div>

            </div>

            <div class="medium-3 columns region region-footer-social" id="region-footer-social">

                <div class="socialMediaIconsBig">

                    <a onclick="ga('send', 'event', { eventCategory: 'Footer', eventAction: 'Social', eventLabel: 'Twitter'});" href="https://twitter.com/DukeLibraries" title="Twitter"><div class="twitter"></div></a>

                    <a onclick="ga('send', 'event', { eventCategory: 'Footer', eventAction: 'Social', eventLabel: 'Facebook'});" href="https://www.facebook.com/dukelibraries" title="Facebook"><div class="facebook"></div></a>

                    <a onclick="ga('send', 'event', { eventCategory: 'Footer', eventAction: 'Social', eventLabel: 'Youtube'});" href="http://www.youtube.com/user/DukeUnivLibraries" title="Youtube"><div class="youtube"></div></a>

                    <a onclick="ga('send', 'event', { eventCategory: 'Footer', eventAction: 'Social', eventLabel: 'Flickr'});" href="http://www.flickr.com/photos/dukeunivlibraries/" title="Flickr"><div class="flickr"></div></a>

                    <a onclick="ga('send', 'event', { eventCategory: 'Footer', eventAction: 'Social', eventLabel: 'Instagram'});" href="https://instagram.com/dukelibraries" title="Instagram"><div class="instagram"></div></a>

                    <a onclick="ga('send', 'event', { eventCategory: 'Footer', eventAction: 'Social', eventLabel: 'RSS'});" href="http://blogs.library.duke.edu/" title="RSS"><div class="rss"></div></a>

                </div>

                <ul class="alpha">

                    <li><a onclick="ga('send', 'event', { eventCategory: 'Footer', eventAction: 'Links', eventLabel: 'Re-use and Attribution'});" href="/about/reuse-attribution">Re-use &amp; Attribution</a> / <a onclick="ga('send', 'event', { eventCategory: 'Footer', eventAction: 'Links', eventLabel: 'Privacy'});" href="/about/privacy">Privacy</a></li>

                    <li><a onclick="ga('send', 'event', { eventCategory: 'Footer', eventAction: 'Links', eventLabel: 'Support the Libraries'});" href="/support">Support the Libraries</a></li>
                </ul>

                <a onclick="ga('send', 'event', { eventCategory: 'Footer', eventAction: 'Links', eventLabel: 'Creative Commons'});" rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="https://licensebuttons.net/l/by-nc-sa/3.0/80x15.png" title="This work is licensed under a Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License"></a>

                <div class="region-inner region-footer-social-inner">
                </div>

            </div>

            <div class="medium-2 columns region region-footer-dukelogo" id="region-footer-dukelogo">

                <a onclick="ga('send', 'event', { eventCategory: 'Footer', eventAction: 'Branding', eventLabel: 'Duke Logo'});" href="http://www.duke.edu"><img src="//library.duke.edu/sites/all/themes/madlib/images/dukelogo_vert_60pct_140.png" class="dukeLogo"></a>

                <div class="region-inner region-footer-dukelogo-inner">


                </div>

            </div>


        </div>

    </div>

</div>
