<div class="masthead-wrapper">

    <div class="row">

      <div class="logo-wrapper">
        <% link_to 'http://library.duke.edu/exhibits' do %>
          <%= image_tag 'masthead/dul_exhibits_logo.png' %>
        <% end %>
      </div>

      <div class="logo-spacer">
          <%= image_tag 'masthead/dul_chevron.png' %>
      </div>

    </div>

</div>
