<div class="nav-wrapper">

  <div class="row">
    <div class="small-12 columns">

      <section class="top-bar-section" id="nav">
        <nav class="top-bar" data-topbar role="navigation">
          <ul class="left">

            <li><a href="index.html">Home</a></li>
            <li><a href="current.html">Now Showing</a></li>
            <li><a href="past.html">Virtual / Past</a></li>
            <li><a href="propose.html">Propose an Exhibit</a></li>
            <li><a href="about.html">About Gallery Spaces</a></li>
            <li><a href="upcoming.html">Upcoming Exhibits</a></li>

          </ul>
        </nav>
      </section>

    </div>
  </div>

</div>
