<div class="nav-wrapper">

  <div class="row">
    <div class="small-12 columns">

      <section class="top-bar-section" id="nav">
        <nav class="top-bar" data-topbar role="navigation">
          <ul class="left">

            <li><a href="">Now Showing</a></li>
            <li><a href="">Virtual / Past</a></li>
            <li><a href="">Propose an Exhibit</a></li>
            <li><a href="">About Gallery Spaces</a></li>
            <li><a href="">Upcoming Exhibits</a></li>

          </ul>
        </nav>
      </section>

    </div>
  </div>

</div>
