---
title: "About Gallery Spaces | Duke University Libraries"
---

<div class="row content">

    <div class="large-12 columns" data-equalizer>

        <h1>About Gallery Spaces</h1>


        <div class="large-6 columns">

            <div class="gallery panel" data-equalizer-watch>

                <div class="image">
                  <img src="http://library.duke.edu/sites/default/files/dul/users/meg.brown%40duke.edu/perkinsforgallery.jpg">
                </div>

                <div class="description">
                    <h3><a href="perkins.html">Perkins Gallery</a></h3>
                    <p><a href="">location</a> | <a href="">hours</a> | <a href="">contact</a></p>
                </div>

            </div>

            <div class="gallery panel" data-equalizer-watch>

                <div class="image">
                  <img src="http://library.duke.edu/sites/default/files/dul/users/meg.brown%40duke.edu/duke%20divinity%20library.jpg">
                </div>

                <div class="description">
                    <h3><a href="perkins.html">Divinity School Library Space</a></h3>
                    <p><a href="">location</a> | <a href="">hours</a> | <a href="">contact</a></p>
                </div>

            </div>

            <div class="gallery panel" data-equalizer-watch>

                <div class="image">
                  <img src="http://library.duke.edu/sites/default/files/dul/users/meg.brown%40duke.edu/IASgallery.jpg">
                </div>

                <div class="description">
                    <h3><a href="perkins.html">IAS Office Exhibit Space</a></h3>
                    <p><a href="">location</a> | <a href="">hours</a> | <a href="">contact</a></p>
                </div>

            </div>

        </div>

        <div class="large-6 columns">


            <div class="gallery panel" data-equalizer-watch>

                <div class="image">
                  <img src="http://library.duke.edu/sites/default/files/dul/users/meg.brown%40duke.edu/Lillygalleryspace.jpg">
                </div>

                <div class="description">
                    <h3><a href="perkins.html">Lilly Library Space</a></h3>
                    <p><a href="">location</a> | <a href="">hours</a> | <a href="">contact</a></p>
                </div>

            </div>

            <div class="gallery panel" data-equalizer-watch>

                <div class="image">
                  <img src="http://library.duke.edu/sites/default/files/dul/users/meg.brown%40duke.edu/medcentergallery.jpg">
                </div>

                <div class="description">
                    <h3><a href="perkins.html">Medical Center Library and Archives Exhibits</a></h3>
                    <p><a href="">location</a> | <a href="">hours</a> | <a href="">contact</a></p>
                </div>

            </div>

            <div class="gallery panel" data-equalizer-watch>

                <div class="image">
                  <img src="http://library.duke.edu/sites/default/files/dul/users/meg.brown%40duke.edu/preservationgallery.jpg">
                </div>

                <div class="description">
                    <h3><a href="perkins.html">Preservation Department Exhibit Case</a></h3>
                    <p><a href="">location</a> | <a href="">hours</a> | <a href="">contact</a></p>
                </div>

            </div>

        </div>

        <hr>

        <h3><a href="">Rare Book Room Cases</a></h3>
        <p><a href="">location</a> | <a href="">hours</a> | <a href="">contact</a></p>

        <h3><a href="">Rare Book Room Hall Cases</a></h3>
        <p><a href="">location</a> | <a href="">hours</a> | <a href="">contact</a></p>

        <h3><a href="">Special Collections Gallery</a></h3>
        <p><a href="">location</a> | <a href="">hours</a> | <a href="">contact</a></p>





    </div>

</div>
