---
title: "About Gallery Spaces | Duke University Libraries"
---

<div class="row">

    <div class="large-12 columns" data-equalizer="">

        <h1>Gallery Spaces</h1>

        <img src="http://placehold.it/800x300&amp;text=[map]" style="width: 100%;">

        <hr>

        <div class="large-6 columns" data-equalizer-watch="" style="height: 402px;">

            <div style="float: left; margin: 0 20px 20px 0;">
              <img src="http://placehold.it/150x100&amp;text=[img]">
            </div>

            <h4><a href="perkins.html">Perkins Gallery</a></h4>
            <p><a href="">location</a> | <a href="">hours</a> | <a href="">contact</a></p>

            <hr style="border: dotted 1px #eee;">

            <div style="float: left; margin: 0 20px 20px 0;">
              <img src="http://placehold.it/150x100&amp;text=[img]">
            </div>

            <h4><a href="perkins.html">Divinity School Library Space</a></h4>
            <p><a href="">location</a> | <a href="">hours</a> | <a href="">contact</a></p>

            <hr style="border: dotted 1px #eee;">

            <div style="float: left; margin: 0 20px 20px 0;">
              <img src="http://placehold.it/150x100&amp;text=[img]">
            </div>

            <h4><a href="perkins.html">IAS Office Exhibit Space</a></h4>
            <p><a href="">location</a> | <a href="">hours</a> | <a href="">contact</a></p>

        </div>

        <div class="large-6 columns" data-equalizer-watch="" style="height: 402px;">

            <div style="float: left; margin: 0 20px 20px 0;">
              <img src="http://placehold.it/150x100&amp;text=[img]">
            </div>

            <h4><a href="perkins.html">Lilly Library Space</a></h4>
            <p><a href="">location</a> | <a href="">hours</a> | <a href="">contact</a></p>

            <hr style="border: dotted 1px #eee;">

            <div style="float: left; margin: 0 20px 20px 0;">
              <img src="http://placehold.it/150x100&amp;text=[img]">
            </div>

            <h4><a href="perkins.html">Medical Center Library and Archives Exhibits</a></h4>
            <p><a href="">location</a> | <a href="">hours</a> | <a href="">contact</a></p>

            <hr style="border: dotted 1px #eee;">

            <div style="float: left; margin: 0 20px 20px 0;">
              <img src="http://placehold.it/150x100&amp;text=[img]">
            </div>

            <h4><a href="perkins.html">Preservation Department Exhibit Case</a></h4>
            <p><a href="">location</a> | <a href="">hours</a> | <a href="">contact</a></p>

        </div>

        <hr>

        <h4><a href="">Rare Book Room Cases</a></h4>
        <p><a href="">location</a> | <a href="">hours</a> | <a href="">contact</a></p>

        <h4><a href="">Rare Book Room Hall Cases</a></h4>
        <p><a href="">location</a> | <a href="">hours</a> | <a href="">contact</a></p>

        <h4><a href="">Special Collections Gallery</a></h4>
        <p><a href="">location</a> | <a href="">hours</a> | <a href="">contact</a></p>





    </div>

</div>
