---
title: "Current Exhibits | Duke University Libraries"
---

<div class="row content">

    <div class="medium-12 columns">

        <h1>Current Exhibits</h1>

        <div class="exhibit">

            <p class="callout">Perkins Gallery &raquo;</p>

            <div class="thumb">
                <img src="http://exhibits.library.duke.edu/archive/fullsize/4842d395bc1458e5901ad00ba204be5b.jpg">
            </div>

            <h2>John Hope Franklin: Imprint of An American Scholar</h2>

            <p>Over the course of his nearly 70 years as a historian, John Hope Franklin molded hundreds, if not thousands, of students to raise scholastic standards within his field and broke countless barriers along the way. Franklin was also the definittion of a public intellectual, continuously lending his scholarship and influence to causes beyond the walls of academia. This exhibition explores Franklin's indelible imprint on the classroom, the institution, his public and private relationships, and his life's work of utilizing history and knowledge to cultivate a better human society.</p>

            <p class="dates"><strong>Start:</strong> December 18, 2014 | <strong>End:</strong> May 10, 2015 | <a href="perkins.html">Perkins Gallery</a></p>


        </div>


        <div class="exhibit">

            <p class="callout">Student Wall &raquo;</p>

            <div class="thumb">
                <img src="/images/home/construction.jpg">
            </div>

            <h2>The Construction Disruption</h2>

            <p>An exhibition curated by Duke Student Government exploring the history of construction at Duke through photographs, newspapers and magazines. </p>

            <p class="dates"><strong>Start:</strong> April 2015 | <strong>End:</strong> August 2015 | Student Wall</p>


        </div>


        <div class="exhibit">

            <p class="callout">Campus Club Exhibit Wall &raquo;</p>

            <div class="thumb">
                <img src="/images/home/cameron.jpg">
            </div>

            <h2>Duke Groups</h2>
            <h3>Student Organizations at Duke University from 1846 to the present</h3>

            <p>This exhibition shows facsimiles of a sampling of the student organization records found in the collections of the Duke University Archives. This display hopes to inspire all student groups that they can have their legacy become a part of Duke's History by placing their records in the Duke University Archive.</p>

            <p class="dates"><strong>Start:</strong> April 2015 | <strong>End:</strong> August 2015 | Campus Club Exhibit Wall</p>


        </div>


        <div class="exhibit">

            <p class="callout">Traveling Exhibitions &raquo;</p>

            <div class="thumb">
                <img src="/images/exhibits/meyer.jpg">
            </div>

            <h2>"I Have No Right to Be Silent": The Human Rights Legacy of the Rabbi Marshall T. Meyer</h2>

            <p>This traveling exhibit consists of 12, 3-by-6 banners with text and imagery that draws on the rich and powerful collection of documents contained in the Marshall T. Meyer papers. Some of those materials include intimate family photos, moving letters from prisoners, internal government memos and rare human rights publications. The exhibit traveled to New York City in January 2011, where it opened at B'nai Jeshurun from January and closed in March.</p>

            <p class="dates"><strong>Start:</strong> April 2014 | <strong>End:</strong> August 2015 | Gothic Reading Room</p>


        </div>


    </div>

</div>
