---
title: "Exhibits | Duke University Libraries"
---

<!-- row 1: 77 / 33 -->
<div class="row" data-equalizer>

    <div class="medium-8 columns">

        <a href="">
    		<div class="panel feature gamble" data-equalizer-watch>

                <div class="description">
    	        <p class="callout">On Exhibit</p>
                <h3>Sidney D. Gamble in China: 1908&ndash;1932</h3>
    			<p>Photographs from the David M. Rubenstein Rare Book &amp; Manuscript Library</p>
    			</div>

    		</div>
    	</a>

    </div>


    <div class="medium-4 columns">

        <a href="">
		<div class="panel feature galleries" data-equalizer-watch>
	        <div class="description">
	        <h4>Visit the exhibit galleries</h4>
			<p>Hours, locations, and more</p>
			</div>
		</div>
		</a>

    </div>

</div>


<!-- row 2: 50 / 50 -->
<div class="row" data-equalizer>

    <div class="medium-6 columns">

        <div class="event-wrap" data-equalizer-watch>

            <a href="">
                  <div class="panel event">

                    <div class="thumb">
                    <img src="http://blogs.library.duke.edu/wp-content/uploads/2015/05/flapbooks600x360.jpg">
                    </div>

                    <div class="description">
                    <p class="date">8/15/2015 &mdash; Chapel Gallery</p>
                    <h4>An Upcoming Event</h4>
                    <p>A description of the event could go here</p>
                    </div>
                </div>
            </a>

        </div>

    </div>

    <div class="medium-6 columns">

        <a href="">
        <div class="panel feature baskin" data-equalizer-watch>
            <div class="description">
            <p class="callout">On Exhibit</p>
            <h4>Viriginia Woolf's Writing Desk</h4>
            <p>Part of the Baskin Collection, on display now!</p>
            </div>
        </div>
        </a>

    </div>

</div>

<!-- row 3: 33 / 33 / 33 -->
<div class="row" data-equalizer>

    <div class="medium-4 columns">

        <a href="">
		<div class="panel feature psalm" data-equalizer-watch>
			<div class="description">
			<h4>Bay Psalm Book</h4>
			<p>Coming soon to the Stone Gallery!</p>
			</div>
		</div>
		</a>

	</div>

    <div class="medium-4 columns">

        <a href="">
        <div class="panel feature student club" data-equalizer-watch>

            <div class="thumb">
                <img src="/images/home/cameron.jpg">
            </div>

            <div class="description">
    			<p class="callout">Campus Club Exhibits Wall</p>
                <h4>Duke Groups</h4>
                <p>Student Organizations at Duke University from 1846 to the present</p>
            </div>

    	</div>
        </a>

	</div>

    <div class="medium-4 columns">

        <a href="">
        <div class="panel feature student wall" data-equalizer-watch>

            <div class="thumb">
                <img src="/images/home/construction.jpg">
            </div>

            <div class="description">
    		    <p class="callout">Student Wall</p>
    		    <h4>The Construction Disruption</h4>
                <p>Explore the history of construction at Duke through photographs, newspapers and magazines</p>
            </div>

    	</div>
        </a>

	</div>



</div>
