---
title: "Past Exhibits | Duke University Libraries"
---

<div class="row content">

    <div class="medium-12 columns">

        <h1>Past Exhibits</h1>

        <p>Order by <a href="">Date</a> | <a href="">Title</a></p>

        <div class="medium-4 columns">

            <div class="panel exhibit">

                <div class="image">
                  <img src="http://dukedancemarathon.weebly.com/uploads/2/4/6/5/24657655/4649960_orig.jpg">
                </div>

                <div class="description">
                  <h3><a href="http://dukedancemarathon.weebly.com/" target="_blank">Duke Dance Marathon</a></h3>
                  <p class="dates">February 2015</p>
                  <p class="location">Student Wall</p>
                  <p class="sponsor">Duke Dance Marathon student group</p>
                </div>

            </div>

            <div class="panel exhibit">

                <div class="image">
                <img src="http://library.duke.edu/sites/default/files/dul/users/meg.brown%40duke.edu/RilkeDavidNeed2014.png">
                </div>

                <div class="description">
                <h3>Rilke's roses</h3>
                <p class="dates">December &ndash; February, 2015</p>
                <p class="artist">Johnson, Clare, Author Rainer Maria Rilke, translator David Need</p>
                <p class="location">Campus Club Wall</p>

                </div>

            </div>


            <div class="panel exhibit">

                <div class="image">
                  <img src="http://blogs.library.duke.edu/digital-collections/files/2012/03/zinegirls.jpg">
                </div>

                <div class="description">
                  <h3>Women's and Queer Zines</h3>
                  <p class="dates">July 1 &ndash; August 24, 2014</p>
                  <p class="location">Hubbard Case, Perkins Library</p>
                  <p class="sponsor">Bingham Center</p>
                </div>

            </div>


            <div class="panel exhibit">

                <div class="image">
                  <img src="http://library.duke.edu/sites/default/files/dul/users/meg.brown%40duke.edu/Screen%20Shot%202014-06-12%20at%2010.07.05%20PM.jpg">
                </div>

                <div class="description">
                  <h3><a href="http://exhibits.library.duke.edu/exhibits/show/queer" target="_blank">Queering Duke History</a></h3>
                  <p class="dates">August 14 &ndash; December 14, 2014</p>
                  <p class="location">Perkins Gallery</p>
                  <p class="sponsor">Special Committee on Sexual and Gender Diversity</p>
                </div>

            </div>

            <div class="panel exhibit">

                <div class="image">
                  <img src="http://library.duke.edu/sites/default/files/dul/users/meg.brown%40duke.edu/_DSC7009a.jpg">
                </div>

                <div class="description">
                  <h3><a href="http://blogs.library.duke.edu/blog/2014/05/01/work-progress-springsteens-born-run/" target="_blank">Born to Run</a></h3>
                  <h4>Bruce Springsteen Manuscript, 1974</h4>
                  <p class="dates">May 12 &ndash; June27,2014</p>
                  <p class="artist">Bruce Springsteen</p>
                  <p class="location">Hubbard Case</p>
                </div>

            </div>

        </div>


        <!-- 2nd Column -->

        <div class="medium-4 columns">

            <div class="panel exhibit">

                <div class="image">
                  <img src="http://d2770i1y1fck5h.cloudfront.net/images/rectangle_636x/42a2567c5b2cad8267fb4bf178e36b52f175990e.jpg?1373904389">
                </div>

                <div class="description">
                    <h3><a href="http://www.metoomonologuesduke.org/" target="_blank">Me Too Monologues</a></h3>
                    <p class="dates">February 2015</p>
                    <p class="location">Campus Club Wall</p>
                    <p class="sponsor">Me Too Monologues student group</p>
                </div>

            </div>

            <div class="panel exhibit">

                <div class="image">
                  <img src="http://library.duke.edu/sites/default/files/dul/users/meg.brown%40duke.edu/maids12182014.jpg">
                </div>

                <div class="description">
                  <h3>The maid project Duke University</h3>
                  <p class="dates">December 6, 2014 &ndash; February 1, 2015</p>
                  <p class="location">Student Wall</p>
                </div>

            </div>

            <div class="panel exhibit">

                <div class="image">
                  <img src="http://artsandhealth.duke.edu/files/pictures/3314.jpg">
                </div>

                <div class="description">
                  <h3><a href="http://artsandhealth.duke.edu/home" target="_blank">36th Annual Duke Employee Art Show</a></h3>
                  <p class="dates">August 29 &ndash; September 30, 2014</p>
                  <p class="location">Campus Club Wall, Perkins Library</p>
                  <p class="sponsor">Duke Hospital Arts &amp; Health</p>
                </div>

            </div>


            <div class="panel exhibit">

                <div class="image">
                  <img src="http://library.duke.edu/sites/default/files/dul/users/meg.brown%40duke.edu/guardianarchivesexhibitmay2014small.jpg">
                </div>

                <div class="description">
                  <h3><a href="http://artsandhealth.duke.edu/home" target="_blank">Guardians of History</a></h3>
                  <p class="dates">May 1 &ndash; August 20, 2014</p>
                  <p class="artist">Mary Samouelian</p>
                  <p class="location">Campus Club Wall</p>
                </div>

            </div>


            <div class="panel exhibit">

                <div class="image">
                  <img src="http://www.whatibeproject.com/wp-content/uploads/2013/07/Amanda-slider-homepage1.png">
                </div>

                <div class="description">
                  <h3><a href="http://www.whatibeproject.com/portfolio-types/duke-university/" target="_blank">What I Be Project at Duke</a></h3>
                  <p class="dates">March 1 &ndash; April 15, 2014</p>
                  <p class="artist">Steve Rosenfield</p>
                  <p class="location">Student Wall</p>
                  <p class="location">Duke Blue Devils United and Duke Student Government</p>
                </div>

            </div>

        </div>

        <!-- 3rd Column -->

        <div class="medium-4 columns">

            <div class="panel exhibit">

                <div class="image">
                  <img src="http://library.duke.edu/sites/default/files/dul/users/meg.brown%40duke.edu/hassanclass2014.jpg">
                </div>

                <div class="description">
                    <h3>Mona Hassan's class 2014</h3>
                    <p class="dates">December &ndash; February, 2015</p>
                    <p class="location">Campus Club Wall</p>
                </div>

            </div>


            <div class="panel exhibit">

                <div class="image">
                  <img src="http://library.duke.edu/sites/default/files/dul/users/meg.brown%40duke.edu/Mutualsoul.jpg">
                </div>

                <div class="description">
                  <h3>"Soul &amp; Service":</h3>
                  <h4>The North Carolina Mutual Life Insurance Company, 115 Years and Counting</h4>
                  <p class="location">Travelling Exhibit</p>
                </div>

            </div>

            <div class="panel exhibit">

                <div class="image">
                  <img src="http://library.duke.edu/sites/default/files/dul/users/meg.brown%40duke.edu/globalexpression2014.jpg">
                </div>

                <div class="description">
                  <h3>Global Expressions of Classical Islam</h3>
                  <p class="dates">April 15 &ndash; September 2014</p>
                  <p class="location">Student Wall, Perkins Library</p>
                </div>

            </div>

            <div class="panel exhibit">

                <div class="image">
                  <img src="http://exhibits.library.duke.edu/archive/fullsize/eee1ffbe1316277c6b33bc7f91a75631.jpg">
                </div>

                <div class="description">
                  <h3><a href="http://exhibits.library.duke.edu/exhibits/show/cheapthrills/intro/intro" target="_blank">Cheap Thrills</a></h3>
                  <h4>The Highs and Lows of Paris's Cabaret Culture, 1880&ndash;1939</h4>
                  <p class="dates">February &ndash; May 2014</p>
                  <p class="location">Perkins Gallery</p>
                  <p class="sponsor">Art, Art History and Visual Studies Department</p>
                </div>

            </div>


            <div class="panel exhibit">

                <div class="image">
                  <img src="http://library.duke.edu/sites/default/files/dul/users/meg.brown%40duke.edu/installataion.jpg">
                </div>

                <div class="description">
                  <h3><a href="http://exhibits.library.duke.edu/exhibits/show/unnatural/nature/intro" target="_blank">Unnatural Nature</a></h3>
                  <h4>The Highs and Lows of Paris's Cabaret Culture, 1880&ndash;1939</h4>
                  <p class="dates">February 1 &ndash; March 1, 2014</p>
                  <p class="location">Student Wall</p>
                  <p class="sponsor">English Department</p>
                </div>

            </div>


        </div>


      </div>

</div>
