---
title: "Past Exhibits | Duke University Libraries"
---

<div class="row">

    <div class="medium-12 columns">

        <h1>Past Exhibits</h1>

        <p>Order by <a href="">Date</a> | <a href="">Title</a></p>

        <div class="medium-6 columns">

          <div class="panel" style="overflow: hidden;">

            <div class="medium-6 columns">
              <img src="http://placehold.it/300x150&amp;text=[img]">
            </div>

            <div class="medium-6 columns">
              <h4>Title</h4>
              <p>1/1/2014 – 6/1/2014</p>
            </div>

          </div>

        </div>

        <div class="medium-6 columns">

          <div class="panel" style="overflow: hidden;">

            <div class="medium-6 columns">
              <img src="http://placehold.it/300x150&amp;text=[img]">
            </div>

            <div class="medium-6 columns">
              <h4>Title</h4>
              <p>1/1/2014 – 6/1/2014</p>
            </div>

          </div>

        </div>



        <div class="medium-6 columns">

          <div class="panel" style="overflow: hidden;">

            <div class="medium-6 columns">
              <img src="http://placehold.it/300x150&amp;text=[img]">
            </div>

            <div class="medium-6 columns">
              <h4>Title</h4>
              <p>1/1/2014 – 6/1/2014</p>
            </div>

          </div>

        </div>

        <div class="medium-6 columns">

          <div class="panel" style="overflow: hidden;">

            <div class="medium-6 columns">
              <img src="http://placehold.it/300x150&amp;text=[img]">
            </div>

            <div class="medium-6 columns">
              <h4>Title</h4>
              <p>1/1/2014 – 6/1/2014</p>
            </div>

          </div>

        </div>



        <div class="medium-6 columns">

          <div class="panel" style="overflow: hidden;">

            <div class="medium-6 columns">
              <img src="http://placehold.it/300x150&amp;text=[img]">
            </div>

            <div class="medium-6 columns">
              <h4>Title</h4>
              <p>1/1/2014 – 6/1/2014</p>
            </div>

          </div>

        </div>

        <div class="medium-6 columns">

          <div class="panel" style="overflow: hidden;">

            <div class="medium-6 columns">
              <img src="http://placehold.it/300x150&amp;text=[img]">
            </div>

            <div class="medium-6 columns">
              <h4>Title</h4>
              <p>1/1/2014 – 6/1/2014</p>
            </div>

          </div>

        </div>



        <div class="medium-6 columns">

          <div class="panel" style="overflow: hidden;">

            <div class="medium-6 columns">
              <img src="http://placehold.it/300x150&amp;text=[img]">
            </div>

            <div class="medium-6 columns">
              <h4>Title</h4>
              <p>1/1/2014 – 6/1/2014</p>
            </div>

          </div>

        </div>

        <div class="medium-6 columns">

          <div class="panel" style="overflow: hidden;">

            <div class="medium-6 columns">
              <img src="http://placehold.it/300x150&amp;text=[img]">
            </div>

            <div class="medium-6 columns">
              <h4>Title</h4>
              <p>1/1/2014 – 6/1/2014</p>
            </div>

          </div>

        </div>



        <div class="medium-6 columns">

          <div class="panel" style="overflow: hidden;">

            <div class="medium-6 columns">
              <img src="http://placehold.it/300x150&amp;text=[img]">
            </div>

            <div class="medium-6 columns">
              <h4>Title</h4>
              <p>1/1/2014 – 6/1/2014</p>
            </div>

          </div>

        </div>

        <div class="medium-6 columns">

          <div class="panel" style="overflow: hidden;">

            <div class="medium-6 columns">
              <img src="http://placehold.it/300x150&amp;text=[img]">
            </div>

            <div class="medium-6 columns">
              <h4>Title</h4>
              <p>1/1/2014 – 6/1/2014</p>
            </div>

          </div>

        </div>



      </div>

</div>
