---
title: "Perkins Gallery | Duke University Libraries"
---

<div class="row content">

    <div class="medium-12 columns">
        <h1>Perkins Gallery</h1>
    </div>

    <a href="" title="John Hope Franklin: Imprint of An American Scholar">
    <div class="medium-12 columns current-exhibit">

        <div class="image">
            <img src="http://exhibits.library.duke.edu/archive/fullsize/4842d395bc1458e5901ad00ba204be5b.jpg">
        </div>

        <div class="description">

            <p class="callout">Currently on Exhibit</p>

            <h2>John Hope Franklin: Imprint of An American Scholar</h2>

            <p class="dates">December 18, 2014 &ndash; May 10, 2015</p>


        </div>

    </div>
    </a>


    <div class="row content">

        <div class="medium-8 columns">

            <h2>About Perkins Gallery</h2>

            <p>Duke University Libraries purchased the exhibit cases in the Perkins Gallery with a generous grant from the E. Rhodes and Leona B. Carpenter Foundation. The space includes three table cases, four small pedestal cases and two upright cases. All cases are locked and have security alarms. The gallery is a public space with 24-hour access. It is most appropriate for displaying three-dimensional objects, such as books and manuscripts.</p>

            <h2>Gallery Policy</h2>

            <p>Exhibits in the Perkins Gallery support the cultural, historic, scholarly and social concerns of Duke University. Members of the Duke community, as well as the larger Raleigh-Durham-Chapel Hill community, may curate exhibits in this space if the content is in support of the Duke University Libraries' mission. Curators may display library materials in this space (but this is not a requirement). Library departments may curate exhibits in the Perkins Gallery to publicize the richness and diversity of the collections, to highlight services in the libraries or to share interesting research.</p>

        </div>

        <div class="medium-4 columns">

            <h4>Contact</h4>
            <p>Meg Brown, exhibits coordinator<br>
            <a href="mailto:meg.brown@duke.edu">meg.brown@duke.edu</a><br>
            (919) 681-2071</p>

            <h4>Location</h4>
            <p>Perkins Library (corridor outside of The Perk)<br>
            <a href="">Map</a><br>
            <a href="">Hours</a></p>

            <div class="image-full">
                <img src="http://library.duke.edu/sites/default/files/dul/users/meg.brown%40duke.edu/perkinsforgallery.jpg">
            </div>

        </div>
    </div>

    <div class="row">
      <div class="small-12 columns">
        <hr />
      </div>
    </div>


    <div class="row content">

        <div class="small-12 columns">
            <h3>Past Exhibits in Perkins Gallery</h3>
        </div>

        <div class="small-3 columns">

            <div class="panel past-exhibit">

                <div class="image">
                  <img src="http://library.duke.edu/sites/default/files/dul/users/meg.brown%40duke.edu/Screen%20Shot%202014-06-12%20at%2010.07.05%20PM.jpg">
                </div>

                <div class="description">
                  <h3><a href="http://exhibits.library.duke.edu/exhibits/show/queer" target="_blank">Queering Duke History</a></h3>
                </div>

            </div>

        </div>

        <div class="small-3 columns">

            <div class="panel past-exhibit">

                <div class="image">
                  <img src="http://exhibits.library.duke.edu/archive/fullsize/eee1ffbe1316277c6b33bc7f91a75631.jpg">
                </div>

                <div class="description">
                  <h3><a href="http://exhibits.library.duke.edu/exhibits/show/cheapthrills/intro/intro" target="_blank">Cheap Thrills</a></h3>
                  <h4>The Highs and Lows of Paris's Cabaret Culture, 1880&ndash;1939</h4>
                </div>

            </div>


        </div>

        <div class="small-3 columns">

        </div>

        <div class="small-3 columns">

        </div>


    </div>

</div>
