---
title: "Propose an Exhibit | Duke University Libraries"
---

<div class="row content">

    <div class="medium-12 columns">

        <h1>How to Propose an Exhibit</h1>

        <div class="row">

            <div class="medium-9 columns">

                <p>The Library Exhibit Program reflects the activities, culture, ideas and scholarship of Duke University and displays it for the community to share and to explore.</p>

                <p>In an effort to build the Library Exhibit Program and to encourage participation, we:</p>

                <ul>
                    <li>welcome guest and student curators</li>
                    <li>collaborate on exhibit ideas with campus departments and community organizations&nbsp;</li>
                    <li>display unique exhibits in a&nbsp;<a href="/exhibits/spaces">variety of spaces&nbsp;</a>across campus</li>
                    <li>ensure our exhibits are free, handicap accessible and open to the public during library&nbsp;<a href="about/hours/">hours</a>&nbsp;</li>
                </ul>

                <h2>I want to curate an exhibit in a library gallery. How do I get started?</h2>

                <p>Email Exhibits Coordinator&nbsp;Meg Brown&nbsp;at <a href="mailto:meg.brown@duke.edu">meg.brown@duke.edu</a>&nbsp;with the answers to the following questions:</p>

                <ul>
                    <li>Why does the exhibition belong in a gallery at Duke?</li>
                    <li>Who is your audience?</li>
                    <li>Who will be involved in curating the show? Please list names of all interested individuals. If you are curating the exhibit as part of a Duke course, note the course name and professor.</li>
                    <li>Why do you want to display this material? Does it relate to course work, does it support student or faculty research or is it important to&nbsp;the student experience?</li>
                    <li>What kind of materials do you expect to display?&nbsp; Please include a few examples and&nbsp;a digtial image of the materials, if possible.</li>
                    <li>Do the items belong to the curators, or will you need to loan them from an individual or institution?</li>
                    <li>Have you spoken to a library staff member about this exhibit, or is there a librarian you would like to assist you with the exhibit?</li>
                    <li>Which gallery do you prefer, and what dates do you hope to hold your exhibit?</li>
                    <li>Will there be any library materials in this exhibit. If so, which libraries own them?</li>
                </ul>

                <h2>Will you accept my proposal?</h2>

                <p>Our staff will consider your proposal while keeping in mind available space and how well the exhibit supports the mission of Duke University and Duke University Libraries. Please note that we schedule some&nbsp;<a href="/exhibits/spaces">exhibit galleries</a>&nbsp;years in advance.</p>

                <h2>Where can I expect to see my exhibit?</h2>

                <p>A good portion of Duke University Libraries is being renovated. We will have new exhibition spaces open to the public in Fall 2015. In the meantime, please note:</p>

                <ul>
                    <li>Not all open space in the library is open to exhibitors.</li>
                    <li>Some spaces have regulations concerning content, format and scheduling.</li>
                    <li>Other spaces hold library materials only.&nbsp;</li>
                    <li><a href="/exhibits/spaces">Several gallery spaces&nbsp;</a>require neither the use of library materials nor library curators.</li>
                </ul>

                <h2>What kinds of resources does the library offer for an exhibit?</h2>

                <ul>
                    <li>Free consultations with Exhibits Coordinator Meg Brown.</li>
                    <li>Varying levels of support for curators, depending on the gallery and available resources. For example, if your exhibit is in the Perkins Gallery, staff will assist you with exhibit preparation,&nbsp;graphic design, printing&nbsp;and when appropriate, support for exhibit programming.</li>
                    <li>If you have a comment, a suggestion or further questions about an exhibit please email the Exhibits Coordinator&nbsp;Meg Brown&nbsp;at <a href="mailto:meg.brown@duke.edu">meg.brown@duke.edu</a>&nbsp;or call <a href="tel:9196812071">(919) 681-2071</a>.</li>
                </ul>


            </div>




            <div class="medium-3 columns panel">

                <h3>Are you a student curator?</h3>

                <p>Duke students who have created works via courses, internships, student organizations and independent research can display their works on the Student Wall. Learn more.</p>

            </div>


        </div>

    </div>

</div>
